@font-face {
  font-family: "iconfont"; /* Project id 3243195 */
  src: url('../fonts/iconfont.woff2?t=1649685724283') format('woff2'),
       url('../fonts/iconfont.woff?t=1649685724283') format('woff'),
       url('../fonts/iconfont.ttf?t=1649685724283') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinbi:before {
  content: "\e6b1";
}

.icon-eye:before {
  content: "\e6ca";
}

.icon-bi:before {
  content: "\e609";
}

.icon-pinglun:before {
  content: "\e63a";
}

.icon-eyes:before {
  content: "\e608";
}

.icon-xingzhuang:before {
  content: "\e603";
}

.icon-shousuo:before {
  content: "\e64a";
}

.icon-yiyuanmiaosha:before {
  content: "\e610";
}

.icon-zhucehaoxiafa:before {
  content: "\e625";
}

.icon-login-full:before {
  content: "\e97e";
}

.icon-exit-full:before {
  content: "\e97f";
}

.icon-payment:before {
  content: "\e63e";
}

.icon-icon_dianzan-mian:before {
  content: "\e64c";
}

.icon-shoucang-shoucang:before {
  content: "\e607";
}

.icon-zan1:before {
  content: "\e671";
}

